.App {
  text-align: center;
}

.book_item{
  width: 200px;
  height: 400px;
  color:rgb(1, 1, 43);
  float:left; /* add this */
  margin: 5%;
  /* border: 2px solid green; */
  
}

.book_item:hover{
  opacity:0.8;
}

.results {
  margin: 0 auto;
  width: 900px;
  align: center;
  /* border: 2px solid red; */

}

.book_picture {
  height: 200px;
  /* border: 2px solid blue; */
  margin: 14%;

}

.book_text{
  width: 200px;
  height: 100px;
  text-align:center;
  /* border: 2px solid red; */
  /* width:100px; */
}